*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
height:100%;
}

.container{
display:flex;
height:1000px; 
}

.left{
flex:1;
color:white;
display:flex;
align-items:center;
justify-content:center;
padding:32px;
}

.branding{
max-width:450px;
}

.logo{
background-color:white;
color:black;
width:50px;
height:50px;
border-radius:50%;
font-weight:bold;
display:flex;
align-items:center;
justify-content:center;
margin-bottom:16px;
}

h1{
font-size:32px;
margin-bottom:8px;
}

.subtitulo{
font-size:18px;
font-weight:500;
margin-bottom:12px;
}

.descricao{
font-size:15px;
margin-top:0px;
opacity:0.9;
}

ul{
list-style:none;
}

ul li{
margin: bottom 6px;
font-size:14px;
color: black
}

.right{
width:400px;
display:flex;
align-items:center;
justify-content:center;
background:#f9f9f9;
}

.login-box{
background:white;
padding:32px;
border-radius:12px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
width:90%;
max-width:350px;
}

.login-box h2{
margin-bottom:8px;
}

.login-box p{
font-size:14px;
color:#555;
margin-bottom:20px;
}

label{
display:block;
margin-bottom:4px;
font-size:13px;
}

input{
width:100%;
padding:10px;
margin-bottom:16px;
border:1px solid #ccc;
border-radius:6px;
font-size:14px;
}

button{
width:100%;
padding:12px;
background:black;
color:white;
border:none;
border-radius:6px;
cursor:pointer;
font-size:16px;
}

button:hover{
background:#333;
}

.register-text{
text-align:center;
margin-top:16px;
font-size:13px;
}

.register-text a{
color:#007bff;
text-decoration:none;
}

.register-text a:hover{
text-decoration:underline;
}
