{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Criar Conta - Agente</title>

<link rel="stylesheet" href="{% static 'css/criarContaAtleta.css' %}">
<link rel="stylesheet" href="{% static 'css/tema.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
</head>

<body>

<header>
    <a href="{% url 'index' %}" class="back-btn">
        <i class="fa-solid fa-arrow-left"></i> Voltar
    </a>
    <h1>Criar Conta – Agente</h1>
</header>

<section class="form-container">

    <form class="register-card" method="POST" enctype="multipart/form-data" action="{% url 'criarContaAgente' %}">
        {% csrf_token %}
        <h2>Informações do Agente</h2>

        {% if erro %}
            <p style="color: red; font-weight: bold; text-align:center; margin-bottom: 10px;">
                {{ erro }}
            </p>
        {% endif %}

        <div class="input-box">
            <label>Nome Completo</label>
            <input type="text" name="nome" placeholder="Ex: Carlos Almeida" required>
        </div>

        <div class="input-box">
            <label>Email</label>
            <input type="email" name="email" placeholder="exemplo@email.com" required>
        </div>

        <div class="input-box">
            <label>Senha</label>
            <input type="password" name="senha" placeholder="Crie uma senha forte" required>
        </div>

        <div class="input-box">
            <label>Área de Atuação</label>
            <select name="area_atuacao" required>
                <option value="">Selecione...</option>
                <option>Futebol</option>
                <option>Basquete</option>
                <option>Vôlei</option>
                <option>Multiesportivo</option>
            </select>
        </div>

        <div class="input-box">
            <label>Região</label>
            <select name="regiao" required>
                <option value="">Selecione...</option>
                <option>Norte</option>
                <option>Nordeste</option>
                <option>Centro-Oeste</option>
                <option>Sudeste</option>
                <option>Sul</option>
            </select>
        </div>

        <div class="input-box">
            <label>Descrição Profissional</label>
            <textarea name="descricao" placeholder="Fale um pouco sobre sua experiência como agente"></textarea>
        </div>

        <button class="create-btn" type="submit">Criar Conta</button>

    </form>

</section>
</body>
</html>
