{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Escolha seu Perfil</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/tema.css' %}">
  <link rel="stylesheet" href="{% static 'css/escolha.css' %}">
</head>
<body>

  <div class="container-escolha">
    <div class="card" onclick="location.href='{% url 'criarContaAgente' %}'">
      <div class="emoji">👔</div>
      <h2>Agente</h2>
    </div>

    <div class="card" onclick="location.href='{% url 'criarContaAtleta' %}'">
      <div class="emoji">⚽</div>
      <h2>Atleta</h2>
    </div>
  </div>

  <script src="{% static 'js/tema.js' %}"></script>

</body>
</html>
